*, *::after, *::before {
  box-sizing: border-box;
}

.weather-details > *{
  flex: 1;
}

.Humidity {
  position: relative;
}

.Humidity::after, .Humidity::before {
  position: absolute;
  content: '';
  top: 10;
  bottom: 10;
  width: 2px;
  background: rgba(255, 255, 255, .2);
}

.Humidity::after {
  right: 0;
}

.Humidity::before {
  left: 0;
}

/* HISTORY CONTAINER SCROLLBAR */

.history-container::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  max-height: 8px;
}
.history-container::-webkit-scrollbar-track {
  background: #111015;
}
.history-container::-webkit-scrollbar-thumb {
  background: white;
  border-left: 4px #111015 solid;
  min-height: 20px
}