.weather-details > *{
  flex: 1;
}

.humidity {
  position: relative;
}

.humidity::after, .humidity::before {
  position: absolute;
  content: '';
  top: 10;
  bottom: 10;
  width: 2px;
  background: rgba(255, 255, 255, .2);
}

.humidity::after {
  right: 0;
}

.humidity::before {
  left: 0;
}